/* Generic flip box styling */

.flip-box {
  background-color: transparent;
  width: 375px;
  height: 250px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* 1st flip boxes */

.a-flip-box-front, .a-flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.a-flip-box-front {
  font-size: 20px;
  background-color: #bbb;
  background-image: url("https://media.discordapp.net/attachments/435368200264220684/762429643650891796/presentation-photo-v3.png?width=375&height=250");
  color: #9c9c9c;
}

.a-flip-box-back {
  font-size: 12px;
  background: #e1b229;
  color: black;
  transform: rotateY(180deg);
}


/* 2nd flip box */

.b-flip-box-front, .b-flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.b-flip-box-front {
  font-size: 20px;
  background-color: #bbb;
  background-image: url("https://cdn.discordapp.com/attachments/772368890927644692/810319921091313674/Webp.png");
  color: #9c9c9c;
}

.b-flip-box-back {
  font-size: 12px;
  background: #e1b229;
  color: black;
  transform: rotateY(180deg);
}


/* Where the flip boxes appear */

.left-half {
  float: left;
  padding-left: 83px;
  padding-top: 50px;
  left: 0px;
}

.right-half {
  float: right;
  right: 0px;
}



/* Placeholder flip box */

.p-flip-box-front, .p-flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.p-flip-box-front {
  font-size: 20px;
  background-color: #bbb;
  background-image: url("https://dummyimage.com/375x250/c2c2c2/000000");
  color: #a6a6a6;
}

.p-flip-box-back {
  font-size: 12px;
  background: #e1b229;
  color: black;
  transform: rotateY(180deg);
}
